<footer id="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-md-push-3">
          <ul>
            <li><%= link_to 'トップページ', root_path %></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-4 col-md-push-3">
          <ul>
            <li><%= link_to '年代別ランキングを見る', schools_path %></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-4 col-md-push-3">
          <ul>
          </ul>
        </div>

        <div class="col-md-3 col-sm-12 col-md-pull-9">
          <div class="footer-logo"><%= link_to 'Review_Base', root_path %></div>
          <p><small>Copyright &copy; 2019　PEEP inc. All Rights Reserved.</p>
          <p class="social-icons">
            <a href="">Share on Twitter</a>
            <a href="">Share on Facebook</a>
          </p>
        </div>    
      </div>
    </div>
  </div>
</footer>